/*custom variables*/
:root {
    --ff-sans: 'Smooch Sans', sans-serif;

    --color-light: rgb(245, 245, 220);
    --color-mid: #fff983;
    --color-dark: #9dcdc0;
    --color-congrats: rgb(55, 85, 55);
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sound button*/
#soundOff {
    position: absolute;
    top: 22px;
    left: 32px;
    width: 3rem;
    height: 3rem;
    background-image: url(./images/sound-on.svg);
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#soundOff[sound-off="true"] {
    background-image: url(./images/sound-off.svg);
}

/*setup*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--ff-sans);
    background-color: var(--color-dark);
}

/*components*/
main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    height: 500px;
    background-image: url(./images/background.jpg);
    border-radius: 5px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
}

.grid[hidden] {
    display: none;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(245, 245, 220, 0.5);
}

.mole {
    background-image: url(./images/mole-no-background-150px.png);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    width: 150px;
    height: 450px;
    background-color: rgba(245, 245, 220, 0.7);
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 48px;
    line-height: 50px;
}

h2 {
    padding-left: 15px;
}

.newGame {
    align-self: center;
    width: 150px;
    height: 36px;
    padding-bottom: 7px;
    font-family: var(--ff-sans);
    color: var(--color-light);
    font-size: 25px;
    font-weight: 500;
    background-color: var(--color-congrats);
    border: 2px solid black;
    border-radius: 5px;
}

.newGame-mobile {
    display: none;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 450px;
    height: 450px;  
    background-color: rgba(245, 245, 220, 0.7);
    border-radius: 5px;
}

.game-over[hidden] {
    display: none;
}

.end {
    color: var(--color-congrats);
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 900;
}

.end-score {
    font-size: 32px;
    font-weight: 500;
}

.end-score > span {
    color: var(--color-congrats);
    font-weight: 600;
}

.says-Martin {
    color: red;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 640px) {
    #soundOff {
        top: 0;
        left: 5px;
        background-image: url(./images/sound-on-white.svg);
    }

    #soundOff[sound-off="true"] {
        background-image: url(./images/sound-off-white.svg);
    }
    
    main {
        flex-direction: column;
        width: 360px;
        height: 700px;
        background-image: url(./images/background-mobile.jpg);
    }
    
    .grid {
        width: 345px;
        height: 345px;  
    }
    
    .square {
        width: 115px;
        height: 115px;
    }
    
    .mole {
        background-image: url(./images/mole-no-background-115px.png);
    }
    
    .info {
        justify-content: center;
        gap: 5px;
        width: 345px;
        height: 150px;
        margin-top: 10px;
    }
    
    h1 {
        align-self: center; 
    }
    
    h2 {
        padding-left: 15px;
        padding-left: 20px;
    }

    .newGame-desktop {
        display: none;
    }

    .newGame-mobile {
        display: flex;
        justify-content: center;
    }

    .game-over {
        width: 345px;
        height: 345px;
    }
}